.app__wrapper-map {}

.map__container iframe {
    display: flex;
    width: 800px;
    height: 700px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
}

.find__us__telephone {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 2000px) {
    .map__container iframe {
        display: flex;
        width: 800px;
        height: 700px;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1250px) {
    .map__container iframe {
        width: 540px;
        height: 500px;
        border: 2px solid black;
        border-radius: 10px;
    }
}

@media screen and (max-width: 650px) {
    .map__container iframe {
        width: 260px;
        height: 260px;
        border: 1px solid black;
        border-radius: 10px;
    }
}

@media screen and (max-width: 300px) {
    .map__container iframe {
        width: 180px;
        height: 180px;
        border: 1px solid black;
        border-radius: 10px;
    }
}