.infobar__container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
}

.info__address {
    display: flex;
    align-items: center;
}

.info__phone__together {
    display: flex;
    align-items: center;
}

.info__medias {
    cursor: pointer;
    margin-left: 3rem;
}

.info__bar__address {
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    text-decoration: underline;
}

.info__phone {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    justify-content: center;
    text-decoration: underline;
}

.info__instagram {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.info__facebook {
    font-size: 1.2rem;
}

.info__instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 35%;
}

.info__facebook:hover {
    color: blue
}

.info__phone:hover {
    color: var(--color-skin);
}

.info__bar__address:hover {
    color: var(--color-skin);
}


@media screen and (max-width:2000px) {}

@media screen and (max-width:1150px) {
    .infobar__container {
        display: none;
    }

    .info__medias {
        cursor: pointer;
        margin: 0;
    }
}

@media screen and (max-width:650px) {}