.app__header {
    background-color: #F5F5F5;
}

.app__header.section__padding {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.app__header-h1 {
    font-family: var(--font-poppins);
    color: var(--color-black);
    font-weight: 700;
    margin-top: 2rem;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 2s forwards;
}

.app__wrapper_info-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}

.custom__button {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 2s forwards;
}

.app__wrapper_info-header p {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 2s forwards;
}


@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 750px) {
    .app__header.section__padding {
        background-size: cover;
        background-attachment: local;
        min-height: 100vh;
        background-position-x: 40%;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-family: var(--font-poppins);
    }

    .app__header {
        margin-top: 3.5rem;

    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 44px;
        line-height: 70px;
        max-width: fit-content;
    }

    .app__navbar-smallscreen-address {
        align-items: center;
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}