.app__header {
    background-color: var(--color-grey);
}

.app__header-h1 {
    font-family: var(--font-poppins);
    color: var(--color-black);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 2s forwards;
}

.app__header-img img {
    width: 80%;
}

.custom__button {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 2s forwards;
}

.app__wrapper_img {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 2s forwards;
}

.app__wrapper_info p {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 2s forwards;
}


@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-family: var(--font-poppins);
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 34px;
        line-height: 70px;
        max-width: fit-content;
        width: 340px
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}